$navbar-default-bg: #FFEFE4;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Libre+Caslon+Display&display=swap);
@import url(https://fonts.googleapis.com/css?family=Dosis&display=swap);
@import url(https://fonts.googleapis.com/css?family=Varela+Round&display=swap);

#logo_rukiaski{
    font: italic;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('cat.jpg');
    background-position: center;
    background-size: cover;
    height: 250px;
}

.jumbotron h2{
    font-family: 'Tangerine', serif;
    color: #F69195;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

.article-body{
    font-family: 'Dosis', sans-serif;
    font-size: large;
    text-align: justify;
    border-top: 1px solid #FCE7E4;
    padding-top: 15px;
    padding-bottom: 15px;
}

.article-title{
    font-family: 'Varela Round', sans-serif;
    font-size: large;
}

.article-actions{
    border-top: 1px solid #FCE7E4;
    padding-top: 5px;
}

.article-details{
    margin-top: 15px;
}

.well{
    background-color: #FFFBF5;
}

.listing{
    list-style: none;
    padding-left: 0;
}

.badge {
    background-color: #F2D1CE;
    letter-spacing: -1px;
    font-weight: bold;
}
.input-checkbox input{
    width: auto !important;
}

.btn-outline-light{
    background-color: #FDEEE8;
}

.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #FDEEE8;
    text-align: center;
}