<div class="container">
    <footer class="footer">
        <small>
            All codes available in <a href="https://github.com/Rukiaski/rukiaski-blog-rails">Github</a>
        </small>
    </footer>
</div>